.section-search input{
    padding: 5px !important;
    width: 90% !important;
    border: #f4f4f4 3px solid !important;
    font-size: 20px !important;
}

.section-fallow .fa-4x{
margin: 5px 10px;
}


.section-gallery img{
    height: 100px;
    width: 300px;
}